@font-face {
    font-family: "MAK";
    src: url(../fonts/MAK-bold.woff);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "NAMU";
    src: url(../fonts/NAMU-Pro.woff);
    font-weight: 900;
    font-style: normal;
}