@use 'fonts.scss';

// general styles

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #2E282A;
}

// fonts
// font-family: 'Satisfy', cursive;

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    max-width: 1162px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.pr-15 {
    padding-right: 15px;
}

.pb-26 {
    padding-bottom: 26px;
}

.pb-50 {
    padding-bottom: 50px;
}

// macro layout

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-main {
    display: flex;
    position: relative;
}

.aboutMe {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}

.portfolio__images-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.portfolio__image-container {
    display: flex;
    justify-content: center;
}

.upper-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.contacts__image-container {
    flex-shrink: 0;;
}

.contact__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact__list-item {
    display: flex;
}

.lower-footer {
    display:flex;
    justify-content: center;
}

@media (min-width: 666px) {
    .upper-footer {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .aboutMe {
        flex-direction: row;
    }

    .portfolio__images-container {
        flex-direction: row;
        gap: 10px;
    }
}


// micro layout

.header-contaier {
    padding-bottom: clamp(70px, 9vw,129px);
}

.header-top {
    padding: 60px 0px;
}

.header-main {
    height: clamp(134px, 25vw,354px);
}

.bigAvatar-container {
    flex-shrink: 0;
    position: absolute;
    z-index: -5;
    right: 0;
}

.header-main__text-container {
    max-width: 468px;
}

.aboutMe__avatar-container {
    display:flex;
    justify-content: center;
}

.aboutMe__text-container {
    max-width: 738px;
}

.aboutMe {
    padding-bottom: 135px;
}

.portfolio {
    padding-bottom: 130px;
}

.portfolio__top-text {
    padding-bottom: 50px;
}

.contact__list {
    padding-top: 20px;
}

.contact__list-item {
    padding-right: 15px;
    white-space: nowrap;
}

.contact__list-item:last-child {
    padding-right: 0;
}

.lower-footer {
    padding: 50px 0;
}

@media (min-width: 768px) {
    .aboutMe__avatar-container {
        flex-shrink: 0;
        padding-right: 20px;
        display: block;
    }
}

// styling
.blue-text {
    font-family: 'Satisfy', cursive;
    color: #1D5AFA;
}

.MAK-text {
    font-family: "MAK";
    color: #FFF;
}

.NAMU-text {
    font-family: "NAMU";
    font-size: clamp(16px, 3vw ,20px);
    line-height: 150%;
    color: rgba($color: #FFF, $alpha: 0.7);
}

.title, 
.date {
    font-size: clamp(16px, 3vw, 24px);
    line-height: clamp(24px, 3vw, 31px);
}

// Put here media query to change from the
// big font to clamp

.header-main__text {
    font-size: clamp(48px, 9.1vw, 123px);
    line-height: clamp(44px, 9.1vw, 120px);
}

.aboutMe-h3 {
    font-size: clamp(32px, 9.1vw, 70px);
    line-height: clamp(32px, 9.1vw, 66px);
}

.contacts-text {
    font-family: "NAMU";
    font-size: 18px;
    line-height: 150%;
    color: #FFF;
}

.contact-paragarph-container {
    margin-right: 77px;
}

.lower-footer__text {
    font-size: 20px;
    line-height: 150%;
}