@use 'fonts.scss';

// general styles

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #2E282A;
}

@media (max-width: 767px) {
    .mobile-hidden {
        display: none !important; 
    }
}

@media (min-width: 768px) {
    .desktop-hidden {
        display: none !important;
    }
}

// fonts
// font-family: 'Satisfy', cursive;

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    max-width: 1162px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.pr-15 {
    padding-right: 15px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-25-50 {
    padding-bottom: clamp(25px, 6vw ,50px);
}

// macro layout

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-main {
    display: flex;
    position: relative;
}

.aboutMe {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}

.portfolio__images-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.portfolio__image-container {
    display: flex;
    justify-content: center;
}

.upper-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}

.contacts__image-container {
    flex-shrink: 0;;
}

.contact__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact__list-item {
    display: flex;
}

.lower-footer {
    display:flex;
    justify-content: center;
}

.avatar-backg {
    background-image: url('../pictures/avatar_vert.png');
}

.header-main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.header-main__text-container-grid {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.bigAvatar-container-mobile-grid {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

@media (min-width: 666px) {
    .upper-footer {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .aboutMe {
        flex-direction: row;
    }

    .portfolio__images-container {
        flex-direction: row;
        gap: 30px;
    }
}


// micro layout

.header-contaier {
    padding-bottom: clamp(70px, 9vw, 129px);
}

.header-top {
    padding: clamp(40px, 6vw, 60px) 0px;
}

// .header-main {
//     height: 550px;
// }

.bigAvatar-container {
    flex-shrink: 0;
    position: absolute;
    z-index: -5;
    right: 0;
}

.header-main__text-container {
    max-width: 468px;
}

.header-main__text-container-mobile {
    max-width: 468px;
    position: relative;
    z-index: 1;
    align-self: center;
    text-align: center;
}

.aboutMe__avatar-container {
    display:flex;
    justify-content: center;
}

.aboutMe__text-container {
    max-width: 738px;
    padding-bottom: 25px;
}

.aboutMe {
    padding-bottom: clamp(70px, 10vw, 135vw);
}

.portfolio {
    padding-bottom: clamp(70px, 9vw, 130px);
}

// .portfolio__top-text {
//     padding-bottom: 50px;
// }

.contact__list {
    padding-top: 15px;
}

.contact__list-item {
    padding-right: 15px;
    white-space: nowrap;
    padding-bottom: 20px;
}

.contact__list-item:last-child {
    padding-right: 0;
}

.lower-footer {
    padding: clamp(30px, 6vw, 50px) 0;
}

// .contacts__image-container {
//     padding-bottom: 20px;
// }

@media (min-width: 450px) {
    .contacts__image-container {
        padding-right: 20px;
    }
}

@media (min-width: 666px) {
    .contact__list-item:last-child {
        padding-bottom: 0;
    }
}

@media (min-width: 768px) {
    .aboutMe__avatar-container {
        flex-shrink: 0;
        padding-right: 20px;
        display: block;
    }

    .header-main {
        height: 354px;
    }

    .aboutMe__text-container {
        padding-bottom: 25px;
    }

    // .contacts__image-container {
    //     padding-bottom: 0px;
    // }

    .contact__list {
        padding-top: 20px;
    }
}

@media (min-width: 990px) {
    .contact__list-item {
        padding-bottom: 0px;
    }
}

// styling
.blue-text {
    font-family: 'Satisfy', cursive;
    color: #1D5AFA;
}

.MAK-text {
    font-family: "MAK";
    color: #FFF;
}

.NAMU-text {
    font-family: "NAMU";
    font-size: clamp(16px, 3vw ,20px);
    line-height: 150%;
    color: rgba($color: #FFF, $alpha: 0.7);
}

.title, 
.date {
    font-size: clamp(16px, 3vw, 24px);
    line-height: clamp(24px, 3vw, 31px);
}

// Put here media query to change from the
// big font to clamp

.header-main__text {
    font-size: clamp(48px, 9.1vw, 123px);
    line-height: clamp(59px, 9.1vw, 120px);
}

.aboutMe-h3 {
    font-size: clamp(32px, 9.1vw, 70px);
    line-height: clamp(32px, 9.1vw, 66px);
}

.aboutMe-h3-contacts {
    font-size: clamp(32px, 7.4vw, 70px);
    line-height: clamp(32px, 9.1vw, 66px);
}

.contacts-text {
    font-family: "NAMU";
    font-size: 18px;
    line-height: 150%;
    color: #FFF;
}

.contact-paragarph-container {
    margin-right: 77px;
}

.lower-footer__text {
    font-size: 20px;
    line-height: 150%;
}

.icon {
    width: 35px;
    height: 30px;
}